<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <title>AI Sign Language Serverless</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/holistic/holistic.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"></script>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>🌟 ระบบจดจำภาษามือ 🌟</h1>
        
        <div class="main-box">
            <video id="input_video"></video>
            <canvas id="output_canvas"></canvas>
            
            <div class="info-panel">
                <div class="result-card">
                    <span class="label">ทายว่า:</span>
                    <span id="word" class="value">-</span>
                </div>
                <div class="result-card">
                    <span class="label">ความมั่นใจ:</span>
                    <span id="conf" class="value">0</span><span class="unit">%</span>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>
